# .NET MAUI ve C# için temel .gitignore

# Derleme çıktıları
**/bin/
**/obj/

# Visual Studio ayarları
.vs/
*.suo
*.user
*.apk

# Güvenlik - Keystore dosyaları
*.keystore
*.jks

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db
/hadis/Models/DuaModel.cs
/build_log.txt
